{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    {% if user.is_authenticated%} 
        <section class="post-section">
            {% for post in all_posts %}
                <div class="post-container">
                    <a class="user" href="{% url 'profile' user_id=post.user_id %}" data-post-id="{{ post.id }}"> {{ post.user }} </a>
                    <p class="content">{{ post.content }}</p>
                    <h5 class="timestamp"> {{ post.timestamp }}</h3>
                    {% if post in liked_post%}
                        <i class="fa-sharp fa-solid fa-heart unlike-icon" style="color: #ff2600;"></i> <span class="like">{{ post.like }}</span>
                    {% else %}
                        <i class="fa-sharp fa-solid fa-heart like-icon" style="color: #929292;"></i> <span class="like">{{ post.like }}</span>
                    {% endif%}
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/ab31b58de2.js" crossorigin="anonymous"></script>
{% endblock %}