{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <h1 class="profile_username">{{ user_profile.username }}</h1>
    <div class="container">
        <h3 class="followers">Followers: {{ follower_count }}</h3>
        <h3 class="following">Following: {{ following_count }}</h3>
    </div>
    {% if user.is_authenticated%}
        <div class="btn-container">
            {% if is_not_user%}
                {% if already_followed %}
                    <form action="{% url 'unfollow' user_id=user_profile.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="follow-btn btn btn-primary">Unfollow</button>
                    </form>
                {% else %}
                    <form action="{% url 'follow' user_id=user_profile.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="follow-btn btn btn-primary">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    <section class="post-section">
        {% for post in pages %}
            <div class="post-container">
                <a class="user" href="{% url 'profile' user_id=post.user_id %}" data-post-id="{{ post.id }}"> {{ post.user }} </a>
                <p class="content">{{ post.content }}</p>
                <h5 class="timestamp"> {{ post.timestamp }}</h3>
                {% if post in liked_post%}
                    <i class="fa-sharp fa-solid fa-heart unlike-icon" style="color: #ff2600;"></i> <span class="like">{{ post.like }}</span>
                {% else %}
                    <i class="fa-sharp fa-solid fa-heart like-icon" style="color: #929292;"></i> <span class="like">{{ post.like }}</span>
                {% endif%}
            </div>
        {% endfor %}
    </section>
    
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-lg">
            {% if pages.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a>
                <li class="page-item"><a class="page-link" href="?page={{ pages.previous_page_number}}">previous</a>
            {% endif %}
            {% for i in nums %}
                {% if forloop.counter == pages.number%}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                           {{forloop.counter}}
                        <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
            {% if pages.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ pages.next_page_number }}">next</a>
                <li class="page-item"><a class="page-link" href="?page={{ pages.paginator.num_pages}}">last &raquo;</a>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/ab31b58de2.js" crossorigin="anonymous"></script>
{% endblock %}